YCH-war/src/conf/xml-resources/web-service-references/Leaderboard/wsdl/littleuman_8080/Leaderboard/Leaderboard.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="Leaderboard">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://littleuman:8080/Leaderboard/Leaderboard?xsd=1"/>
</xsd:schema>
</types>
<message name="sortBy">
<part name="parameters" element="tns:sortBy"/>
</message>
<message name="sortByResponse">
<part name="parameters" element="tns:sortByResponse"/>
</message>
<message name="getUsernames">
<part name="parameters" element="tns:getUsernames"/>
</message>
<message name="getUsernamesResponse">
<part name="parameters" element="tns:getUsernamesResponse"/>
</message>
<message name="addPlayerToLeader">
<part name="parameters" element="tns:addPlayerToLeader"/>
</message>
<message name="addPlayerToLeaderResponse">
<part name="parameters" element="tns:addPlayerToLeaderResponse"/>
</message>
<message name="print">
<part name="parameters" element="tns:print"/>
</message>
<message name="printResponse">
<part name="parameters" element="tns:printResponse"/>
</message>
<portType name="Leaderboard">
<operation name="sortBy">
<input wsam:Action="http://WS/Leaderboard/sortByRequest" message="tns:sortBy"/>
<output wsam:Action="http://WS/Leaderboard/sortByResponse" message="tns:sortByResponse"/>
</operation>
<operation name="getUsernames">
<input wsam:Action="http://WS/Leaderboard/getUsernamesRequest" message="tns:getUsernames"/>
<output wsam:Action="http://WS/Leaderboard/getUsernamesResponse" message="tns:getUsernamesResponse"/>
</operation>
<operation name="addPlayerToLeader">
<input wsam:Action="http://WS/Leaderboard/addPlayerToLeaderRequest" message="tns:addPlayerToLeader"/>
<output wsam:Action="http://WS/Leaderboard/addPlayerToLeaderResponse" message="tns:addPlayerToLeaderResponse"/>
</operation>
<operation name="print">
<input wsam:Action="http://WS/Leaderboard/printRequest" message="tns:print"/>
<output wsam:Action="http://WS/Leaderboard/printResponse" message="tns:printResponse"/>
</operation>
</portType>
<binding name="LeaderboardPortBinding" type="tns:Leaderboard">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sortBy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsernames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPlayerToLeader">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="print">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Leaderboard">
<port name="LeaderboardPort" binding="tns:LeaderboardPortBinding">
<soap:address location="http://littleuman:8080/Leaderboard/Leaderboard"/>
</port>
</service>
</definitions>