YCH-war/DatabaseService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://WS/" name="DatabaseService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://WS/" schemaLocation="DatabaseService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPlayerStringByUsername">
    <part name="parameters" element="tns:getPlayerStringByUsername"/>
  </message>
  <message name="getPlayerStringByUsernameResponse">
    <part name="parameters" element="tns:getPlayerStringByUsernameResponse"/>
  </message>
  <message name="checkPassword">
    <part name="parameters" element="tns:checkPassword"/>
  </message>
  <message name="checkPasswordResponse">
    <part name="parameters" element="tns:checkPasswordResponse"/>
  </message>
  <message name="addPlayer">
    <part name="parameters" element="tns:addPlayer"/>
  </message>
  <message name="addPlayerResponse">
    <part name="parameters" element="tns:addPlayerResponse"/>
  </message>
  <message name="unameIsAvailable">
    <part name="parameters" element="tns:unameIsAvailable"/>
  </message>
  <message name="unameIsAvailableResponse">
    <part name="parameters" element="tns:unameIsAvailableResponse"/>
  </message>
  <message name="addGame">
    <part name="parameters" element="tns:addGame"/>
  </message>
  <message name="addGameResponse">
    <part name="parameters" element="tns:addGameResponse"/>
  </message>
  <message name="getUsernames">
    <part name="parameters" element="tns:getUsernames"/>
  </message>
  <message name="getUsernamesResponse">
    <part name="parameters" element="tns:getUsernamesResponse"/>
  </message>
  <message name="sortBy">
    <part name="parameters" element="tns:sortBy"/>
  </message>
  <message name="sortByResponse">
    <part name="parameters" element="tns:sortByResponse"/>
  </message>
  <portType name="Database">
    <operation name="getPlayerStringByUsername">
      <input wsam:Action="http://WS/Database/getPlayerStringByUsernameRequest" message="tns:getPlayerStringByUsername"/>
      <output wsam:Action="http://WS/Database/getPlayerStringByUsernameResponse" message="tns:getPlayerStringByUsernameResponse"/>
    </operation>
    <operation name="checkPassword">
      <input wsam:Action="http://WS/Database/checkPasswordRequest" message="tns:checkPassword"/>
      <output wsam:Action="http://WS/Database/checkPasswordResponse" message="tns:checkPasswordResponse"/>
    </operation>
    <operation name="addPlayer">
      <input wsam:Action="http://WS/Database/addPlayerRequest" message="tns:addPlayer"/>
      <output wsam:Action="http://WS/Database/addPlayerResponse" message="tns:addPlayerResponse"/>
    </operation>
    <operation name="unameIsAvailable">
      <input wsam:Action="http://WS/Database/unameIsAvailableRequest" message="tns:unameIsAvailable"/>
      <output wsam:Action="http://WS/Database/unameIsAvailableResponse" message="tns:unameIsAvailableResponse"/>
    </operation>
    <operation name="addGame">
      <input wsam:Action="http://WS/Database/addGameRequest" message="tns:addGame"/>
      <output wsam:Action="http://WS/Database/addGameResponse" message="tns:addGameResponse"/>
    </operation>
    <operation name="getUsernames">
      <input wsam:Action="http://WS/Database/getUsernamesRequest" message="tns:getUsernames"/>
      <output wsam:Action="http://WS/Database/getUsernamesResponse" message="tns:getUsernamesResponse"/>
    </operation>
    <operation name="sortBy">
      <input wsam:Action="http://WS/Database/sortByRequest" message="tns:sortBy"/>
      <output wsam:Action="http://WS/Database/sortByResponse" message="tns:sortByResponse"/>
    </operation>
  </portType>
  <binding name="DatabasePortBinding" type="tns:Database">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPlayerStringByUsername">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkPassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addPlayer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="unameIsAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsernames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sortBy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DatabaseService">
    <port name="DatabasePort" binding="tns:DatabasePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

