YCH-war/web/WEB-INF/wsdl/localhost_8080/GetPlayerInfoService/GetPlayerInfo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="GetPlayerInfoService">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:40770/GetPlayerInfoService/GetPlayerInfo?xsd=1"/>
</xsd:schema>
</types>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"/>
</message>
<message name="getPasswordResponse">
<part name="parameters" element="tns:getPasswordResponse"/>
</message>
<message name="getFirstName">
<part name="parameters" element="tns:getFirstName"/>
</message>
<message name="getFirstNameResponse">
<part name="parameters" element="tns:getFirstNameResponse"/>
</message>
<message name="getLastName">
<part name="parameters" element="tns:getLastName"/>
</message>
<message name="getLastNameResponse">
<part name="parameters" element="tns:getLastNameResponse"/>
</message>
<message name="getColor">
<part name="parameters" element="tns:getColor"/>
</message>
<message name="getColorResponse">
<part name="parameters" element="tns:getColorResponse"/>
</message>
<message name="getLoginCount">
<part name="parameters" element="tns:getLoginCount"/>
</message>
<message name="getLoginCountResponse">
<part name="parameters" element="tns:getLoginCountResponse"/>
</message>
<message name="addLogin">
<part name="parameters" element="tns:addLogin"/>
</message>
<message name="addLoginResponse">
<part name="parameters" element="tns:addLoginResponse"/>
</message>
<message name="setOnline">
<part name="parameters" element="tns:setOnline"/>
</message>
<message name="setOnlineResponse">
<part name="parameters" element="tns:setOnlineResponse"/>
</message>
<message name="setOffline">
<part name="parameters" element="tns:setOffline"/>
</message>
<message name="setOfflineResponse">
<part name="parameters" element="tns:setOfflineResponse"/>
</message>
<portType name="GetPlayerInfo">
<operation name="getPassword">
<input wsam:Action="http://WS/GetPlayerInfo/getPasswordRequest" message="tns:getPassword"/>
<output wsam:Action="http://WS/GetPlayerInfo/getPasswordResponse" message="tns:getPasswordResponse"/>
</operation>
<operation name="getFirstName">
<input wsam:Action="http://WS/GetPlayerInfo/getFirstNameRequest" message="tns:getFirstName"/>
<output wsam:Action="http://WS/GetPlayerInfo/getFirstNameResponse" message="tns:getFirstNameResponse"/>
</operation>
<operation name="getLastName">
<input wsam:Action="http://WS/GetPlayerInfo/getLastNameRequest" message="tns:getLastName"/>
<output wsam:Action="http://WS/GetPlayerInfo/getLastNameResponse" message="tns:getLastNameResponse"/>
</operation>
<operation name="getColor">
<input wsam:Action="http://WS/GetPlayerInfo/getColorRequest" message="tns:getColor"/>
<output wsam:Action="http://WS/GetPlayerInfo/getColorResponse" message="tns:getColorResponse"/>
</operation>
<operation name="getLoginCount">
<input wsam:Action="http://WS/GetPlayerInfo/getLoginCountRequest" message="tns:getLoginCount"/>
<output wsam:Action="http://WS/GetPlayerInfo/getLoginCountResponse" message="tns:getLoginCountResponse"/>
</operation>
<operation name="addLogin">
<input wsam:Action="http://WS/GetPlayerInfo/addLoginRequest" message="tns:addLogin"/>
<output wsam:Action="http://WS/GetPlayerInfo/addLoginResponse" message="tns:addLoginResponse"/>
</operation>
<operation name="setOnline">
<input wsam:Action="http://WS/GetPlayerInfo/setOnlineRequest" message="tns:setOnline"/>
<output wsam:Action="http://WS/GetPlayerInfo/setOnlineResponse" message="tns:setOnlineResponse"/>
</operation>
<operation name="setOffline">
<input wsam:Action="http://WS/GetPlayerInfo/setOfflineRequest" message="tns:setOffline"/>
<output wsam:Action="http://WS/GetPlayerInfo/setOfflineResponse" message="tns:setOfflineResponse"/>
</operation>
</portType>
<binding name="GetPlayerInfoPortBinding" type="tns:GetPlayerInfo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoginCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOnline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOffline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GetPlayerInfoService">
<port name="GetPlayerInfoPort" binding="tns:GetPlayerInfoPortBinding">
<soap:address location="http://localhost:8080/GetPlayerInfoService/GetPlayerInfo"/>
</port>
</service>
</definitions>