YCH-war/web/WEB-INF/wsdl/localhost_8080/CurrentlyPlaying/CurrentlyPlaying.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="CurrentlyPlaying">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:40770/CurrentlyPlaying/CurrentlyPlaying?xsd=1"/>
</xsd:schema>
</types>
<message name="getCurrentlyList">
<part name="parameters" element="tns:getCurrentlyList"/>
</message>
<message name="getCurrentlyListResponse">
<part name="parameters" element="tns:getCurrentlyListResponse"/>
</message>
<message name="sortBy">
<part name="parameters" element="tns:sortBy"/>
</message>
<message name="sortByResponse">
<part name="parameters" element="tns:sortByResponse"/>
</message>
<message name="addPlayerToCurrent">
<part name="parameters" element="tns:addPlayerToCurrent"/>
</message>
<message name="addPlayerToCurrentResponse">
<part name="parameters" element="tns:addPlayerToCurrentResponse"/>
</message>
<message name="print">
<part name="parameters" element="tns:print"/>
</message>
<message name="printResponse">
<part name="parameters" element="tns:printResponse"/>
</message>
<portType name="CurrentlyPlaying">
<operation name="getCurrentlyList">
<input wsam:Action="http://WS/CurrentlyPlaying/getCurrentlyListRequest" message="tns:getCurrentlyList"/>
<output wsam:Action="http://WS/CurrentlyPlaying/getCurrentlyListResponse" message="tns:getCurrentlyListResponse"/>
</operation>
<operation name="sortBy">
<input wsam:Action="http://WS/CurrentlyPlaying/sortByRequest" message="tns:sortBy"/>
<output wsam:Action="http://WS/CurrentlyPlaying/sortByResponse" message="tns:sortByResponse"/>
</operation>
<operation name="addPlayerToCurrent">
<input wsam:Action="http://WS/CurrentlyPlaying/addPlayerToCurrentRequest" message="tns:addPlayerToCurrent"/>
<output wsam:Action="http://WS/CurrentlyPlaying/addPlayerToCurrentResponse" message="tns:addPlayerToCurrentResponse"/>
</operation>
<operation name="print">
<input wsam:Action="http://WS/CurrentlyPlaying/printRequest" message="tns:print"/>
<output wsam:Action="http://WS/CurrentlyPlaying/printResponse" message="tns:printResponse"/>
</operation>
</portType>
<binding name="CurrentlyPlayingPortBinding" type="tns:CurrentlyPlaying">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCurrentlyList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sortBy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPlayerToCurrent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="print">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CurrentlyPlaying">
<port name="CurrentlyPlayingPort" binding="tns:CurrentlyPlayingPortBinding">
<soap:address location="http://localhost:8080/CurrentlyPlaying/CurrentlyPlaying"/>
</port>
</service>
</definitions>